@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto !important;
}
body {
  background: #212d38;
}